
@import '../../assets/styles/variables';

.navigation{
    background-color: #4BC5C2;
    border-radius: 20px;
    width: 80%;
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
      li
        a{
            text-decoration: none;
            color: white;
            font-family: var(--font-family);
            
        }
    }
}